@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    color: black;
    padding-left: 45px;
    text-decoration: none;
}

header ul {
    display: flex;
}

header ul li {
    margin: 8px;
    list-style: none;
    padding: 8px;
}

header ul li a {
    color: #3580DC;
    font-size: 1rem;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

#texto{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p{
    text-align: center;
    align-items: center;
}
#refe{
    margin-left: 10vh;
    margin-right: 10vh;
}
.refes{
    text-align: justify;
}

.tdah-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tdah-buttons button {
    width: 3vw;
    margin-right: 10px;
}