@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

#documentation{
   margin-top: 20vh;
}
#objective{
   margin-top: 20vh;
   text-align: center;
}

#solucao{
width: 125vh;
text-align: justify;
}

#instructions{
margin-top: 30vh;
}

#one{
   margin-top: 5vh;
   width:100vh;
   justify-content: flex-start;
}
#two{
   margin-top: 5vh;
   width: 100vh;
   text-align: justify;
}
#developers{
  
   width: 100vh;
}
#three{
   margin-top: 5vh;
   width: 100vh;
}
#four{  
   margin-top: 5vh;
   width:100vh;
   justify-content: flex-start;
}
#for-usuary{
   margin-top: 15vh;
}
#five{
   margin-top: 5vh;
   width:100vh;
   text-align: justify;
}
#six{
   margin-top: 5vh;
   width:100vh;
   text-align: justify;
}
#responible{
   margin-top: 10vh;
   font-family: 'PT Serif', serif;
   font-size: 4vh;
}
#tecnicos{
   font-family: 'Ms Madi', cursive;
   font-size: 4vh;
}

